<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSMPDClient</string>
	<key>CFBundleIdentifier</key>
	<string>com.thecyberplains.qsmpd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QSMPDClient</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>117</string>
	<key>NSPrincipalClass</key>
	<string>QSMPDClient</string>
	<key>QSActions</key>
	<dict>
		<key>AddTrack</key>
		<dict>
			<key>actionClass</key>
			<string>QSMPDClientAction</string>
			<key>actionSelector</key>
			<string>addTrack:</string>
			<key>directTypes</key>
			<array>
				<string>QSMPDClientTrackType</string>
			</array>
			<key>name</key>
			<string>Add Track</string>
			<key>precedence</key>
			<string>99</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>AddTrackAndPlay</key>
		<dict>
			<key>actionClass</key>
			<string>QSMPDClientAction</string>
			<key>actionSelector</key>
			<string>addTrackAndPlay:</string>
			<key>directTypes</key>
			<array>
				<string>QSMPDClientTrackType</string>
			</array>
			<key>name</key>
			<string>Play</string>
			<key>precedence</key>
			<string>99</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QueueTrack</key>
		<dict>
			<key>actionClass</key>
			<string>QSMPDClientAction</string>
			<key>actionSelector</key>
			<string>queueTrack:</string>
			<key>directTypes</key>
			<array>
				<string>QSMPDClientTrackType</string>
			</array>
			<key>name</key>
			<string>Enqueue Track</string>
			<key>precedence</key>
			<string>99</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Matthew Goodall</string>
		<key>categories</key>
		<array>
			<string>Music</string>
		</array>
		<key>description</key>
		<string>Client for MPD</string>
		<key>icon</key>
		<string>com.apple.itunes</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSMPDClientGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetMPDClientTracks</string>
					<key>details</key>
					<string>MPD Tracks</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>music2</string>
					<key>name</key>
					<string>Tracks</string>
					<key>source</key>
					<string>QSMPDClientTrackSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>musicfolder</string>
			<key>name</key>
			<string>MPD</string>
			<key>settings</key>
			<dict>
				<key>host</key>
				<string>localhost</string>
				<key>lastupdate</key>
				<string>0</string>
				<key>port</key>
				<string>6600</string>
			</dict>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSMPDClientAction</key>
			<string>QSMPDClientAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.thecyberplains.qsmpd</key>
			<string>QSMPDClientSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSMPDClientType</key>
			<string>QSMPDClientSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSMPDClientSource</key>
			<string>QSMPDClientSource</string>
			<key>QSMPDClientTrackSource</key>
			<string>QSMPDClientTrackSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>QSMPDClient_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>QSMPDClient</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
